@font-face {
    font-family: 'clock';
    src: url(DS-DIGIB.TTF);
}

body{
    background-image: radial-gradient(blue 20%, black 80%);
    background-repeat: no-repeat;
    height: 100vh;
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    text-transform: uppercase;
    text-shadow: 5px 5px 5px black;
    font-family: 'clock';
    font-size: 40px;
}

main{
    border: outset white;
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
@media (max-width: 400px) {
    main{
        width: 80%;
    }
}

div{
    display: flex;
    margin: 20px 0px;
}

input{
    background-color: transparent;
    color: white;
    font-size: 50px;
    border: none;
    width: 60px;
    text-align: center;
    font-family: 'clock';
}
input::placeholder{
  color: white;
}

span{
    font-size: 45px;
}

button{
    background-color: transparent;
    color: white;
    font-size: 20px;
    margin: 5px;
    border: outset white;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    transition: all 0.5s;
}

button:hover{
    width: 120px;
}

audio{
    opacity: 0;
}

.butoesNum button{
  font-size: 13px;
  font-weight: bold;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: aqua;
  color: black;
  transition: all 0.5s;
}

.butoesNum button:hover{
  background-color: blue;
  color: white;
}

footer{
  position: absolute;
  bottom: 20px;
}

footer a{
  color: aqua;
}