@font-face {
    font-family: 'clock';
    src: url(DS-DIGIB.TTF);
}

*{
    margin: 0;
}

body{
    font-family: sans-serif;
    /* background-color: rgb(33, 10, 55); */
    background-image: radial-gradient(purple 20%, black 80%);
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
}

h1{
    margin: 20px;
    text-shadow: 1px 3px 5px orange;
    font-family: 'clock';
    font-size: 40px;
}

main{
    background-color: darkslategray;
    padding: 50px 50px 0px 50px;
    border-radius: 30%;
    border: outset 10px gray;
}

main div{
    background-color: gray;
    /* padding: 5px 10px; */
    width: 350px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border: outset gray;
}

main div:nth-of-type(2){
    background-color: transparent;
    border: none;
    margin: 0px;
    display: flex;
    gap: 20px;
}

main div h2{
    font-size: 50px;
    font-family: 'clock', sans-serif;
}

main button{
    background-color: transparent;
    border: outset gray;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    padding: 5px 10px;
    margin-bottom: 30px;
    cursor: pointer;
    width: 80px;
    transition: all 0.5s;
}

main button:active{
    border: solid gray;
}


/* main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div{
    display: flex;
    justify-content: center;
    border: outset;
    margin: 10px;
    border-radius: 10px;
    width: 115px;
}
main div h2{
    margin: 0px;
    padding: 5px 20px;
}

input{
    border: none;
}

h1{
    text-shadow: 1px 1px 10px yellow;
}

main button{
    padding: 1px 20px;
    font-size: 20px;
    margin: 5px 0px;
    cursor: pointer;
    transition: all 0.5s;
}

main button:hover{
    outline: solid white;
    background-color: transparent;
    color: white;
} */

footer{
    position: absolute;
    bottom: 10px;
    word-spacing: 5px;
}
footer a{
    text-decoration: none;
    color: aqua;
}